---
import '../styles/global.scss';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
	title: string;
    description?: string;
    image?: string;
    keywords?: string;
}

const { title, description, image = "/social-image.jpg", keywords } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description || "EntityX"} />
        {keywords && <meta name="keywords" content={keywords} />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />
	</head>
	<body class="bg-body text-body">
		<slot />
		<script>
			import 'bootstrap/dist/js/bootstrap.bundle.min.js';
		</script>
	</body>
</html>
